*{
    padding: 0;
    margin: 0 auto;
    font-family:'Work Sans', sans-serif;
}
body{
    font-size: 16px;
}
.Portfolio-menu{  
 
    border-bottom: 1px solid transparent; 
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    background-color: #fff;
}
.navbar-brand h1{
font-weight: bold;
font-size: 2.125rem;
}


.navbar-nav a {
    font-size: 1.25rem;
    color:#1f2044;
    position: relative;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
   
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #75a9d6;
}
.navbar-nav a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom: 0;
    background-color:#75a9d6 ;
    transition:  all 0.4s ease-in-out ;
    color:#75a9d6 ;
}


#navbarNavDropdown .navbar-nav a:hover::before {
    width: 100%;
    left: 0;
    color:#75a9d6 ;
  
}

/* css for icon navbar */
a{
    text-decoration: none; 
}
li{
    display: inline-block;
    margin-left: 1.75rem;
} 

.icons i{
    padding-left: 1.25rem; 
}
.fa-search{
    color: #4f6d87;
    font-size: 1rem;
}
.fa-moon{
    color: #404040;
    font-size: 1.18rem;
}
.intro{
    text-align: center;
    margin-top: 4.375rem;
}

.subheader {
    font-size: 1.25rem;
    color: #fab384;
}
.info-right i{
    color: #1f2044;
}

.intro2{
    font-size: 2.8rem;
    color: #1f2044;
    margin-bottom: 1.25rem;
}
.intro3{
    font: size 1.125rem; ;
    color: #234969;
}
.main{
    margin-top: 3.75rem;
}
.image{
    margin-top: 1.875rem;
   
}

.info-right p{
    
        /* -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg); */
      transform:  translateX(-50%) translateY(-50%) rotate(90deg);
      font-size: 18px;
      margin-left: 21px;
      margin-bottom: 45px;    
}
.info-right i{
    margin-left: 12px;
}
.info-right i{
    padding-top: 20px; 
    font-size: 18px;
}
.info-right{
    margin-top: 211px;
  
}
.info-left{
    margin-left: 210px;
}
.service span{
    color: #f79784;
    font-size: 20px;
   }
.service h2 span{
    color:#1f2044;
    font-size: 2.8rem;
    background-color: #fcf1e7;
    margin-bottom: 15px;
    font-weight: 600;

    
}
.service h2 {
    color:#1f2044;
    font-size: 2.8rem;
    margin-bottom: 15px;  
    font-weight: 600;

    
}
.main .service{
   height: max-content;
   background-color: #f8f9fa;
  margin-top: 2.8rem;
  width: 100%;
  display: absolute;
    
}
.service-left{
    width: 34.375rem;
    height: 54.1rem;
    
}
.main-service{
    padding-top: 80px;
}
.text-service2{
    font-size: 18px;
    color: #234969;
    line-height: 28px;
}
.nav-service{
    /* display: flex;
    flex-direction: column; */
    font-weight: 400px;
    font-size: 20px;
    margin-left: -28px;
    line-height: 45px;
    /* font-weight: bold; */
    
}
.nav-service a{
    color: black;
}
.img-service img{
    border-radius: 10px;
    
}
.text-service1 span{
    font-size: 45px;
    font-weight: bold;
    color: black;
}
.featureskill span{
    color: #f79784;
    font-size: 20px; 
    font-weight: 400;   
    margin-bottom: 15px;
}
.featureskill{  
    height: max-content;
  
}


 .img3 img{
    
    height: auto;
    width: 135px;
   top: 1804px;
    left: 124px;
    background: #fff;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 22px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
}
.img2 img{

    top: 2175px;
    left: 206px;
    width: 111px;
    height: auto;
    background-color: #ffff;
    border: 1px solid transparent;
    padding: 22px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
    border-radius: 15px;
}
.img4 img{
    
   
    width: 111px;
    height: auto;
    bottom: -1250px;
    left: 364px;
    background-color: #ffff;
    border: 1px solid transparent;
    padding: 22px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
    border-radius: 15px;

}
.feature-detail{
    width: 560px;
    display: block; 
    height: 680px;
}
.feature-detail p span{
    color:#1f2044;
    font-size: 2.8rem;
    background-color: #fcf1e7;
    margin-bottom: 15px;
    font-weight: 600;
} 
.feature-detail p{
    color:#1f2044;
}
.detail1{
    background-color: pink;
    font-size: 40px;
    color:black;
    width: max-content;
    text-align:initial;
}
.text-feature {
    
        font-size: 45px;
        font-weight: bold;
        color: black;   
}
.text-feature2{
    font-size: 18px;
    color: #234969;
    line-height: 28px;
}
.achieve-img2 img{
   
    width: 161px;
    height: auto;
    top: 2424px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
    border-radius: 15px;
    background: #ffff;
}
.achieve-img3 img
{  
    width: 146px;
    height: auto;
    top: 2459px;
    left: 895px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
    border-radius: 15px;
    background: #ffff;

}
.achieve-img4 img
{
  
    width: 180px;
    height: auto;
    top: 2792px;
    border: 1px solid transparent;
    padding: 10px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 8%);
    border-radius: 15px;
    background: #ffff;
}

.achieve-text1 {
    color: #f79784;
    font-size: 20px;
    color: #f79784;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
}
.achieve-text2{
    font-size: 45px;
    font-weight: bold;
    color: #1f2044;
}
.achieve-text3{
    font-size: 18px;
    color: #234969;
    line-height: 28px;
}
.process-left{
    width: 550px;
    display: block; 
    
}
.achieve-image{
    width: 560px;
}
.achievement
{
    display: flex;
    flex-wrap: wrap;
    background: #f8f9fa;
    height: 680px;
    padding: 30px;
    
}
 .achiece-al h1{
     display: flex ;
     justify-content: space-between;
 }
 .process-content {
    display: inline-block;
}
  .process-content h4{
    margin-bottom: 21px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
 }
 
 .process-content p {
    margin-bottom: 15px;
} 
.testimonial-title{
    color: #f79784;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
}
.testimo-content{
    font-size: 45px;
    font-weight: bold;
    color: black;   
}
.testimonial{
    
    padding: 20px;
    height: 490px;
}


.testimonial-right{
    width: 580px;
    padding-left: 38px;
}
.testimonial-right img{
  border-radius: 50%;
}
.testimo {
    display: inline-block;
}
.images img{
    width: 135px;
    height: auto;
}
.clientandpartner{
    background-color: #f8f9fa;
    width: 100%;
}

.contact-form input{
    display: inline-block;
}
.footer{
    width: 100%;
    text-align: center;
    height: 117px;
    margin-top: 150px;
    background-color: #f4f4f4;
    display: block;
    padding: 75px 0px;
}

.info-contact{
    display: flex;
}
.contact-text span{
    color: #f79784;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.contact-text h1{
    font-size: 45px;
    font-weight: bold;
    color: black;   
    text-align: center;
    
}
.contact-text p{
    font-size: 18px;
    color: #234969;
    line-height: 28px;
    text-align: center;

}
.contact{
    margin-top: 50px;
}
.text-contact-detail1{
    font-size: 18px;
    color: #234969;
    line-height: 28px;
    
}
.contact-extend a{
  display: inline-block;
  text-decoration: none;
color: black;

  
}
.contact-extend p{
    display: inline-block;
    
}
.client-item{
    width: 680px;
}
.lastest-content{
    margin-top: 145px;
    margin-bottom: -116px;
}

.lastest-content-detail span{
    color: #f79784;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.lastest-content-detail h1 {
    font-size: 45px;  
    text-align: center;
}
.lastest-content-detail h1 span{
    color:black;
    background-color:#f79784 ;
    display: inline;
    font-size: 45px;
}
.item{
    display: flex;
    flex-direction: row;
}
.text-image{
    padding: 180px 20px;
}
.list-image-blog{
    display: flex;
   flex-wrap: wrap;
}
.list-image-blog img{
   
 width: 350px;
 height: auto;
 border-radius: 20px;
}

.list-image-blog a{
    color: black;
}

.list-image-blog span
{
    color: #f79784;
    font-size: 19px;
    font-weight: bold;
}
.item img{
    border-radius: 20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #e8570a;
}
.dark-mode{
    background-color: black;
    color: white;
}
.owl-nav{
    display: none;
}
.owl-drag{
    width: 536px;
    font-size: 21px;
    text-align: justify;
}
.list-testimo{
    display: flex;
    flex-direction: row;
}
.img-testimo-personal{
   width: 120px;
   margin-left: 12px;
}
.info-testimo-personal{
    margin-left: -200px;
}
.owl-carousel {
    width: 100%;
}